services:
  db:
    image: postgres:16
    env_file:
      - .env
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports: ["5833:5432"]

  backend:
    build: ./backend
    environment:
      DATABASE_URL: ${DATABASE_URL}
    ports: ["8001:8000"]
    depends_on: [db]

  seed:
    build: ./backend
    working_dir: /app
    environment:
      DATABASE_URL: ${DATABASE_URL}
    depends_on: [db, backend]
    command: ["uv", "run", "python", "seed.py"]